<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ticketbooking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/et"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/et"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ticketbooking">
        <activity
            android:name=".AdminTheaterProfile"
            android:label="@string/title_activity_admin_theater_profile"
            android:theme="@style/Theme.Ticketbooking.NoActionBar"></activity>
        <activity android:name=".AdminTheatreShow" />
        <activity android:name=".MovieActivity" />
        <activity android:name=".TheaterRegister" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".PlaceActivity" />
        <activity android:name=".PlaceActivit" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>